body {
    font-size: 16px;
    font-family: Avenir;
}

@font-face {
   font-family: Avenir;
   src: url(Avenir.ttc);
}

/* GLOBAL - Every section element takes 100vh */
section {
    height: 100vh;
}
.banner-wrapper {
    width: 100vw;
    max-width: 940px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.banner {
    width: 100%;
    padding: 140px 40px;
    border: 11px solid rgb(0,0,255);
    position: relative;
}

.banner h3 {
    color: rgb(0,0,255);
    font-weight: 800;
    font-size: 1.75em;
    line-height: 1.2;
    position: absolute;
    top: 10px;
    left: 20px;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    color: rgb(0,0,255);
    font-weight: 700;
    font-size: 76px;
    line-height: 1.1;
    margin: auto;
    padding: 0 100px;
}


.main-nav {
    transform: rotate(270deg);
    transform-origin: center;
    position: fixed;
    bottom: 200px;
    left: -100px;
    z-index: 30;
}

.main-nav a {
    font-size: 22px;
    font-weight:600;
    color: black;
    text-decoration: none;
}

.main-nav li {
    padding: 10px 20px;
}

.main-nav li a:hover {
    color: rgb(0,0,255);
}

/* navigation active*/
/*
.main-nav li.active {
    
}
.main-nav li.active:hover {
    
}
.main-nav li.active:hover a {
    
}

*/
.main-nav li.active a {
    color: rgb(0,0,255);
}

/* Navigation on intro section Style - Default */

/* Navigation on screen-black section Style */

.screen-black .main-nav li a {
    color: white;
    z-index: 36px;
}


.guidelink {
    text-align: center;
    position: relative;
    bottom: 50px;
}



.guidelink a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(0,0,255);
    letter-spacing: 2px;
/*    text-transform: uppercase;*/

}

.image-wrapper {
    position: relative;
}

.image {
    position: absolute;
    height: 460px;
    width: 380px;
    box-shadow: 0px 5px 45px 10px rgba(0,0,0,0.1);
/*    background-image: url("image/itisme.png");*/
    background-size: cover;
    background-position: 57%;
    border-radius: 5px;
}


.image::before {
    content: "";
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,255,0.2);
    background: linear-gradient(to top left, rgba(251,194,235,0.8) 0%, rgba(0,0,255,0.4) 100%);
    z-index: 2;
}

.link-image{
    position: absolute;
    bottom: -340px;

}

.link-image a{
    font-size: 2.5em;
    font-weight: 600;
    color: black;
}

.description {
    position: relative;
}

.description p {
    position: absolute;
    top: 60px;
    width: 360px;
    font-size: 1.3em;
    font-weight: 600;
}

/* about section begins below */

#img-about {right: 10px;
        background-image: url("image/itisme.png");

}

#link-about {
    right: -45px;
    z-index: 3;
}

#descrip-about p{
    left: 30px;
}

/* work section begins below */

#img-work {
    left: 10px;
        background-image: url("image/concentrating.png");

}

#link-work {
    left: -45px;
/*    bottom: -360px;*/
    z-index: 3;
}

#descrip-work p{
    right: 30px;
}

/* elsewhere section begins below */

#img-elsewhere {
    right: 10px;
    background-image: url("image/diver-2.png");

}

#link-elsewhere {
    right: -45px;
/*    bottom: -360px;*/
    z-index: 3;
}

#descrip-elsewhere p {
    left: 30px;
}

/* ----------------- about page ---------------- */
/* Helper CSS class - [BUG] */
#contact section {
    overflow: hidden;
}
#contact div[class*=intro] {
    display: block;
    position: fixed;
}

#contact .bg-image {
    width: 100%;
    height: 100%;
    background-image:  url("image/itisme.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 42%;
}

.nkguo-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 20%;
/*
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-image:  url("image/itisme.png");
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
*/
}
.nkguo-content {
    display: block;
/*    position: fixed;*/
}

/* Section z-inde */
.intro-wrapper {
    z-index: 1
}
.screen-black {
    z-index: 2
}
.screen-white {
    z-index: 3
}
.screen-blue {
    z-index: 4
}


.nkguo-content h2, .nkguo-content h3 {
    font-size: 1em;
    font-weight: 600;
}

.nkguo-intro .nkguo-content .keywords {
    margin-top: 40px;
}

.nkguo-content p {
    font-size: 2em;
    line-height: 1.1;
    font-weight: 600;
}

.screen-black {
    background: rgba(0,0,255,1);
/*    z-index: 200003;*/
}

.logo {
    position: fixed;
    left: 60px;
    top: 50px;    
}

.logo img {
        width: 50px;
}


/* ----------------- work page ---------------- */


.ribbon-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbon-content h1 {
    width: 75%;
    text-align: center;
    font-size: 4em;
    font-weight: 550;
    line-height: 1.3;
    margin: 0 auto;
    
}

.seasor {
    width: 80%;
    height: 600px;
    background-color: aquamarine;
    float: right;
}























