body {
    font-size: 16px;
    font-family: Avenir;
}

@font-face {
   font-family: Avenir;
   src: url(Avenir.ttc);
}

/* Every section element takes 100vh */
section {
    height: 100vh;
}
.banner-wrapper {
    width: 100vw;
    max-width: 940px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    /* font-variant-caps: all-petite-caps; */
}

.banner {
    width: 100%;
    padding: 140px 40px;
    border: 11px solid rgb(0,0,255);
    position: relative;
}

.banner h3 {
    color: rgb(0,0,255);
    font-weight: 800;
    font-size: 1.75em;
    line-height: 1.2;
    position: absolute;
    top: 10px;
    left: 20px;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    color: rgb(0,0,255);
    font-weight: 700;
    font-size: 76px;
    line-height: 1.1;
    margin: auto;
    padding: 0 100px;
}


.main-nav {
    transform: rotate(270deg);
    transform-origin: center;
    position: fixed;
    bottom: 200px;
    left: -100px;
}

.main-nav a {
    font-size: 22px;
    font-weight:600;
    color: black;
    text-decoration: none;
}

.main-nav li {
    padding: 10px 20px;
}

.main-nav li a:hover {
    color: rgb(0,0,255);
}

.guidelink {
    text-align: center;
    position: relative;
    bottom: 50px;
}
.guidelink a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(0,0,255);
    letter-spacing: 2px;
/*    text-transform: uppercase;*/

}

.image-wrapper{
    position: relative;
}

.image {
    position: absolute;
    height: 460px;
    width: 380px;
    box-shadow: 0px 5px 45px 10px rgba(0,0,0,0.1); 
    background-image: url("image/itisme.png");
    background-size: cover;
    background-position: 57%;
    border-radius: 5px;
}

.image::before {
    content: "";
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,255,0.2);
    background: linear-gradient(to top left, rgba(251,194,235,0.8) 0%, rgba(0,0,255,0.4) 100%);
    z-index: 2;
}

.link-image{
    position: absolute;
    bottom: -340px;

}

.link-image a{
    font-size: 2.5em;
    font-weight: 600;
    color: black;
}

.description {
    position: relative;
}

.description p {
    position: absolute;
    top: 60px;
    width: 360px;
    font-size: 1.3em;
    font-weight: 600;
}

/* about section begins below */

#img-about {right: 10px;
}

#link-about {
    right: -45px;
    z-index: 3;
}

#descrip-about p{
    left: 30px;
}

/* work section begins below */

#img-work {
    left: 10px;
}

#link-work {
    left: -45px;
/*    bottom: -360px;*/
    z-index: 3;
}

#descrip-work p{
    right: 30px;
}

/* elsewhere section begins below */

#img-elsewhere {right: 10px;
}

#link-elsewhere {
    right: -45px;
/*    bottom: -360px;*/
    z-index: 3;
}

#descrip-elsewhere p{
    left: 30px;
}


/* ----------------- about page ---------------- */

.nkguo-intro {
    width: inherit;
    height: inherit;
    background-image:  url("image/itisme.png");
    background-size: cover;

} 